extends layout

mixin address(a)
	span.row=a.address
	br
	strong.row=a.balance + " ZEC"

block content

	.container
		.row
			a(href="/t_address")
					h1 New t-address

			ul.collection
				each a in tAddresses
					li.collection-item
						+address(a)

		.row
			a(href="/z_address")
					h1 New z-address

			ul.collection
				each a in zAddresses
					li.collection-item
						+address(a)
